<h4>Import pandas</h4>

In [13]:
import pandas as pd
import matplotlib.pylab as plt

In [23]:
df="/Users/srajaltiwari/Documents/github/Data-Analysis-and-Pipelining-EDA/Used-Cars/automobileEDA.csv"

In [24]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [25]:
df = pd.read_csv(df, names = headers)

In [26]:
# To see what the data set looks like, we'll use the head() method.
df.head()

                                          symboling normalized-losses  \
symboling normalized-losses make         aspiration      num-of-doors
3         122               alfa-romero         std               two
                            alfa-romero         std               two
1         122               alfa-romero         std               two
2         164               audi                std              four

                                                make     fuel-type  \
symboling normalized-losses make          body-style  drive-wheels
3         122               alfa-romero  convertible           rwd
                            alfa-romero  convertible           rwd
1         122               alfa-romero    hatchback           rwd
2         164               audi               sedan           fwd

                                              aspiration num-of-doors  \
symboling normalized-losses make         engine-location   wheel-base
3         122               alfa-romero            front         88.6
                            alfa-romero            front         88.6
1         122               alfa-romero            front         94.5
2         164               audi                   front         99.8

                                                 body-style  \
symboling normalized-losses make                     length
3         122               alfa-romero  0.8111484863046613
                            alfa-romero  0.8111484863046613
1         122               alfa-romero  0.8226814031715521
2         164               audi         0.8486304661220567

                                               drive-wheels engine-location  \
symboling normalized-losses make                      width          height
3         122               alfa-romero  0.8902777777777777            48.8
                            alfa-romero  0.8902777777777777            48.8
1         122               alfa-romero  0.9097222222222222            52.4
2         164               audi         0.9194444444444444            54.3

                                          wheel-base  ...        engine-size  \
symboling normalized-losses make         curb-weight  ...  compression-ratio
3         122               alfa-romero         2548  ...                9.0
                            alfa-romero         2548  ...                9.0
1         122               alfa-romero         2823  ...                9.0
2         164               audi                2337  ...               10.0

                                        fuel-system      bore    stroke  \
symboling normalized-losses make         horsepower  peak-rpm  city-mpg
3         122               alfa-romero       111.0    5000.0        21
                            alfa-romero       111.0    5000.0        21
1         122               alfa-romero       154.0    5000.0        19
2         164               audi              102.0    5500.0        24

                                        compression-ratio horsepower  \
symboling normalized-losses make              highway-mpg      price
3         122               alfa-romero                27    13495.0
                            alfa-romero                27    16500.0
1         122               alfa-romero                26    16500.0
2         164               audi                       30    13950.0

                                                   peak-rpm  \
symboling normalized-losses make               city-L/100km
3         122               alfa-romero  11.190476190476188
                            alfa-romero  11.190476190476188
1         122               alfa-romero   12.36842105263158
2         164               audi          9.791666666666666

                                                  city-mpg highway-mpg price
symboling normalized-losses make         horsepower-binned      diesel   gas
3         122               alfa-romero             Medium           0     1
                            alfa-romero             Medium           0     1
1         122               alfa-romero             Medium           0     1
2         164               audi                    Medium           0     1

[5 rows x 26 columns]

In [27]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

                                          symboling normalized-losses  \
symboling normalized-losses make         aspiration      num-of-doors
3         122               alfa-romero         std               two
                            alfa-romero         std               two
1         122               alfa-romero         std               two
2         164               audi                std              four

                                                make     fuel-type  \
symboling normalized-losses make          body-style  drive-wheels
3         122               alfa-romero  convertible           rwd
                            alfa-romero  convertible           rwd
1         122               alfa-romero    hatchback           rwd
2         164               audi               sedan           fwd

                                              aspiration num-of-doors  \
symboling normalized-losses make         engine-location   wheel-base
3         122               alfa-romero            front         88.6
                            alfa-romero            front         88.6
1         122               alfa-romero            front         94.5
2         164               audi                   front         99.8

                                                 body-style  \
symboling normalized-losses make                     length
3         122               alfa-romero  0.8111484863046613
                            alfa-romero  0.8111484863046613
1         122               alfa-romero  0.8226814031715521
2         164               audi         0.8486304661220567

                                               drive-wheels engine-location  \
symboling normalized-losses make                      width          height
3         122               alfa-romero  0.8902777777777777            48.8
                            alfa-romero  0.8902777777777777            48.8
1         122               alfa-romero  0.9097222222222222            52.4
2         164               audi         0.9194444444444444            54.3

                                          wheel-base  ...        engine-size  \
symboling normalized-losses make         curb-weight  ...  compression-ratio
3         122               alfa-romero         2548  ...                9.0
                            alfa-romero         2548  ...                9.0
1         122               alfa-romero         2823  ...                9.0
2         164               audi                2337  ...               10.0

                                        fuel-system      bore    stroke  \
symboling normalized-losses make         horsepower  peak-rpm  city-mpg
3         122               alfa-romero       111.0    5000.0        21
                            alfa-romero       111.0    5000.0        21
1         122               alfa-romero       154.0    5000.0        19
2         164               audi              102.0    5500.0        24

                                        compression-ratio horsepower  \
symboling normalized-losses make              highway-mpg      price
3         122               alfa-romero                27    13495.0
                            alfa-romero                27    16500.0
1         122               alfa-romero                26    16500.0
2         164               audi                       30    13950.0

                                                   peak-rpm  \
symboling normalized-losses make               city-L/100km
3         122               alfa-romero  11.190476190476188
                            alfa-romero  11.190476190476188
1         122               alfa-romero   12.36842105263158
2         164               audi          9.791666666666666

                                                  city-mpg highway-mpg price
symboling normalized-losses make         horsepower-binned      diesel   gas
3         122               alfa-romero             Medium           0     1
                            alfa-romero             Medium           0     1
1         122               alfa-romero             Medium           0     1
2         164               audi                    Medium           0     1

[5 rows x 26 columns]

In [28]:
missing_data = df.isnull()
missing_data.head(5)

                                         symboling  normalized-losses   make  \
symboling normalized-losses make             False              False  False
3         122               alfa-romero      False              False  False
                            alfa-romero      False              False  False
1         122               alfa-romero      False              False  False
2         164               audi             False              False  False

                                         fuel-type  aspiration  num-of-doors  \
symboling normalized-losses make             False       False         False
3         122               alfa-romero      False       False         False
                            alfa-romero      False       False         False
1         122               alfa-romero      False       False         False
2         164               audi             False       False         False

                                         body-style  drive-wheels  \
symboling normalized-losses make              False         False
3         122               alfa-romero       False         False
                            alfa-romero       False         False
1         122               alfa-romero       False         False
2         164               audi              False         False

                                         engine-location  wheel-base  ...  \
symboling normalized-losses make                   False       False  ...
3         122               alfa-romero            False       False  ...
                            alfa-romero            False       False  ...
1         122               alfa-romero            False       False  ...
2         164               audi                   False       False  ...

                                         engine-size  fuel-system   bore  \
symboling normalized-losses make               False        False  False
3         122               alfa-romero        False        False  False
                            alfa-romero        False        False  False
1         122               alfa-romero        False        False  False
2         164               audi               False        False  False

                                         stroke  compression-ratio  \
symboling normalized-losses make          False              False
3         122               alfa-romero   False              False
                            alfa-romero   False              False
1         122               alfa-romero   False              False
2         164               audi          False              False

                                         horsepower  peak-rpm  city-mpg  \
symboling normalized-losses make              False     False     False
3         122               alfa-romero       False     False     False
                            alfa-romero       False     False     False
1         122               alfa-romero       False     False     False
2         164               audi              False     False     False

                                         highway-mpg  price
symboling normalized-losses make               False  False
3         122               alfa-romero        False  False
                            alfa-romero        False  False
1         122               alfa-romero        False  False
2         164               audi               False  False

[5 rows x 26 columns]

In [29]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
symboling
False    202
Name: count, dtype: int64

normalized-losses
normalized-losses
False    202
Name: count, dtype: int64

make
make
False    202
Name: count, dtype: int64

fuel-type
fuel-type
False    202
Name: count, dtype: int64

aspiration
aspiration
False    202
Name: count, dtype: int64

num-of-doors
num-of-doors
False    202
Name: count, dtype: int64

body-style
body-style
False    202
Name: count, dtype: int64

drive-wheels
drive-wheels
False    202
Name: count, dtype: int64

engine-location
engine-location
False    202
Name: count, dtype: int64

wheel-base
wheel-base
False    202
Name: count, dtype: int64

length
length
False    202
Name: count, dtype: int64

width
width
False    202
Name: count, dtype: int64

height
height
False    202
Name: count, dtype: int64

curb-weight
curb-weight
False    202
Name: count, dtype: int64

engine-type
engine-type
False    202
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    198
True       4
Name: count, dtype: int64

engine-size
engine-size
False    202
Name: count, dtype: int64

fuel-system
fuel-system
False    202
Name: count, dtype: int64

bore
bore
False    202
Name: count, dtype: int64

stroke
stroke
False    202
Name: count, dtype: int64

compression-ratio
compression-ratio
False    202
Name: count, dtype: int64

horsepower
horsepower
False    202
Name: count, dtype: int64

peak-rpm
peak-rpm
False    202
Name: count, dtype: int64

city-mpg
city-mpg
False    201
True       1
Name: count, dtype: int64

highway-mpg
highway-mpg
False    202
Name: count, dtype: int64

price
price
False    202
Name: count, dtype: int64

<h4>Calculate the mean value for the "normalized-losses" column </h4>

In [31]:
avg_norm_loss = df["normalized-losses"].astype(float, errors='coerce').mean(axis=0)
print("Average of normalized-losses (excluding invalid entries):", avg_norm_loss)

ValueError: could not convert string to float: 'num-of-doors'

<h4>Replace "NaN" with mean value in "normalized-losses" column</h4>

In [ ]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

<h4>Calculate the mean value for the "bore" column</h4>

In [ ]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

<h4>Replace "NaN" with the mean value in the "bore" column</h4>

In [ ]:
df["bore"].replace(np.nan, avg_bore, inplace=True)

In [ ]:

avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)


df["stroke"].replace(np.nan, avg_stroke, inplace = True)

<h4>Calculate the mean value for the "horsepower" column</h4>

In [ ]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

<h4>Replace "NaN" with the mean value in the "horsepower" column</h4>

In [ ]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

<h4>Calculate the mean value for "peak-rpm" column</h4>

In [ ]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

<h4>Replace "NaN" with the mean value in the "peak-rpm" column</h4>

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

In [ ]:
df['num-of-doors'].value_counts()

In [ ]:
df['num-of-doors'].value_counts().idxmax()

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

<h4>Let's list the data types for each column</h4>

In [ ]:
df.dtypes

<h4>Convert data types to proper format</h4>

In [ ]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

<h4>Let us list the columns after the conversion</h4>

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

In [ ]:

# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'"highway-mpg"':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

In [ ]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

In [ ]:
# Write your code below and press Shift+Enter to execute 
df['height'] = df['height']/df['height'].max() 

# show the scaled columns
df[["length","width","height"]].head()

 Convert data to correct format:

In [ ]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

Plot the histogram of horsepower to see the distribution of horsepower.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

Set group  names:

In [ ]:
group_names = ['Low', 'Medium', 'High']

Apply the function "cut" to determine what each value of `df['horsepower']` belongs to.

In [ ]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

See the number of vehicles in each bin:

In [ ]:
df["horsepower-binned"].value_counts()

Plot the distribution of each bin:

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

<h3>Bins Visualization</h3>
Normally, you use a histogram to visualize the distribution of bins we created above.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot


# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

The plot above shows the binning result for the attribute "horsepower".

In [ ]:
df.columns

Get the indicator variables and assign it to data frame "dummy_variable_1":

In [ ]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

Change the column names for clarity:

In [ ]:
dummy_variable_1.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)
dummy_variable_1.head()

In the data frame, column 'fuel-type' now has values for 'gas' and 'diesel' as 0s and 1s.

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [ ]:
df.head()

The last two columns are now the indicator variable representation of the fuel-type variable. They're all 0s and 1s now.

In [ ]:
# Write your code below and press Shift+Enter to execute 
# get indicator variables of aspiration and assign it to data frame "dummy_variable_2"
dummy_variable_2 = pd.get_dummies(df['aspiration'])

# change column names for clarity
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

# show first 5 instances of data frame "dummy_variable_1"
dummy_variable_2.head()

In [ ]:
# Write your code below and press Shift+Enter to execute 
# merge the new dataframe to the original datafram
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "aspiration" from "df"
df.drop('aspiration', axis = 1, inplace=True)

Save the new csv:

In [ ]:
df.to_csv('clean_df.csv')